<p id="notice"><%= notice %></p>

<p>
  <strong>Score1:</strong>
  <%= @answer.score1 %>
</p>

<p>
  <strong>Score2:</strong>
  <%= @answer.score2 %>
</p>

<p>
  <strong>Score3:</strong>
  <%= @answer.score3 %>
</p>

<p>
  <strong>Score4:</strong>
  <%= @answer.score4 %>
</p>

<p>
  <strong>Score5:</strong>
  <%= @answer.score5 %>
</p>

<p>
  <strong>Score6:</strong>
  <%= @answer.score6 %>
</p>

<p>
  <strong>Score7:</strong>
  <%= @answer.score7 %>
</p>

<p>
  <strong>Score8:</strong>
  <%= @answer.score8 %>
</p>

<p>
  <strong>Score9:</strong>
  <%= @answer.score9 %>
</p>

<p>
  <strong>Score10:</strong>
  <%= @answer.score10 %>
</p>

<p>
  <strong>Score11:</strong>
  <%= @answer.score11 %>
</p>

<p>
  <strong>Score12:</strong>
  <%= @answer.score12 %>
</p>

<p>
  <strong>Score13:</strong>
  <%= @answer.score13 %>
</p>

<p>
  <strong>Score14:</strong>
  <%= @answer.score14 %>
</p>

<p>
  <strong>Score15:</strong>
  <%= @answer.score15 %>
</p>

<p>
  <strong>Score16:</strong>
  <%= @answer.score16 %>
</p>

<p>
  <strong>Score17:</strong>
  <%= @answer.score17 %>
</p>

<p>
  <strong>Score18:</strong>
  <%= @answer.score18 %>
</p>

<p>
  <strong>Score19:</strong>
  <%= @answer.score19 %>
</p>

<p>
  <strong>Score20:</strong>
  <%= @answer.score20 %>
</p>

<p>
  <strong>Score21:</strong>
  <%= @answer.score21 %>
</p>

<p>
  <strong>Score22:</strong>
  <%= @answer.score22 %>
</p>

<p>
  <strong>Score23:</strong>
  <%= @answer.score23 %>
</p>

<p>
  <strong>Score24:</strong>
  <%= @answer.score24 %>
</p>

<p>
  <strong>Score25:</strong>
  <%= @answer.score25 %>
</p>

<p>
  <strong>Score26:</strong>
  <%= @answer.score26 %>
</p>

<p>
  <strong>Score27:</strong>
  <%= @answer.score27 %>
</p>

<p>
  <strong>Score28:</strong>
  <%= @answer.score28 %>
</p>

<p>
  <strong>Score29:</strong>
  <%= @answer.score29 %>
</p>

<p>
  <strong>Score30:</strong>
  <%= @answer.score30 %>
</p>

<p>
  <strong>Score31:</strong>
  <%= @answer.score31 %>
</p>

<p>
  <strong>Score32:</strong>
  <%= @answer.score32 %>
</p>

<p>
  <strong>Score33:</strong>
  <%= @answer.score33 %>
</p>

<p>
  <strong>Score34:</strong>
  <%= @answer.score34 %>
</p>

<p>
  <strong>Score35:</strong>
  <%= @answer.score35 %>
</p>

<p>
  <strong>Score36:</strong>
  <%= @answer.score36 %>
</p>

<p>
  <strong>Score37:</strong>
  <%= @answer.score37 %>
</p>

<p>
  <strong>Score38:</strong>
  <%= @answer.score38 %>
</p>

<p>
  <strong>Score39:</strong>
  <%= @answer.score39 %>
</p>

<p>
  <strong>Score40:</strong>
  <%= @answer.score40 %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
