<center>
<div class="jumbotron">
<h1>Ask all the dumb questions you want.</h1>
<p><h3>The 24 Hour FREE Bitcoin Help Hotline</h3></p>
<p><h4>Instant | Anonymous | Secure</h4></p>
<br>
<%= link_to "Chat Now *", "#" , class: "btn btn-primary btn-lg" %>
<div class="footer">
</div>
</div>

<div class="container-fluid well">
<h6>* Disclaimer:  Advice given does not constitute financial advice.  Please use the chat as an educational resource only, and understand that Bitcoin is a highly speculative asset, in Beta phase.  Please use the site at your own risk.  This website is open-source and the helpers are screened carefully.  However, the website and it's founders take no responsibility for any poor advice nor technical vulnerabilities found in the chat.  By clicking "Chat Now", you agree to having understood these risks. </h6>
</div>

<br><br><br>

<div id="bios" class="panel panel-default transitions-enabled">
<div class="panel-heading">
<strong><h2> Coordinators </h2></strong>
</div>

	<div class="box panel panel-default">
					<%= image_tag("leo.jpg") %>
				<div class="panel-body left">
					  <h3><strong>Leo</strong></h3>
					veteran bitcoin enthusiast, visionary, musician, wise sage
				</div>
	</div>
	<div class="box panel panel-default">
					<%= image_tag("ben.jpg") %>
				<div class="panel-body left">
					  <h3><strong>Ben</strong></h3>
					wishes there were a better site for getting answers to bitcoin questions
				</div>
	</div>
	<div class="box panel panel-default">
					<%= image_tag("shizue.jpg") %>
				<div class="panel-body left">
					  <h3><strong>Shizue</strong></h3>
					designer with lots of customer service experience, loves dogs
				</div>
	</div>
	<div class="box panel panel-default">
					<%= image_tag("simeon.jpg") %>
				<div class="panel-body left">
					  <h3><strong>Simeon</strong></h3>
					bringing bitcoin to Vienna, fluent in English, German, and Bitcoin
				</div>
	</div>
</div>

<br>

<div class="container-fluid well">
<h2> Why chat with us? </2>
<h4> Not everyone is enthusiastic enough about bitcoin to care about all the little technical details.  Most people are only mildy interested and just want bitcoin explained in layman's terms.  That's why we created this resource.  We hope to help you gather information, bit by bit, and ultimately piece it together for yourself.
</h4>
</div>